/* When I enable this code, the images widths are funny. These comments are meant for me to explain over the phone 
and not for it to be understandable without*/
* {
  width: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
 }
*/
 body {
 	margin: 0 0;
 }

header {
	background-color: yellow;
}

h1, h2 {
	margin-left: 25%;
}

.card {
	border: 2px solid black;
	margin-top: 50px;
}


/*Sara, I kept having to adjust the image size to fit the box depending on .card margins. 
Also, as I decrease the screensize, the images start to overlap before the mobile defaults take over.Lets talk about this */
img {
	width: 296px;
}

h3 {
	margin: 25px 0 0 10px;
}

p {
	margin: 0 0 25px 10px;
}